@import "tailwindcss";

/* Твои кастомные стили */
@layer components {
    .category-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
    }

    .category-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        min-height: 50px;
        border-radius: 12px;
        background: #f8fafc;
        border: 1px solid #f1f5f9;
        font-size: 16px;
        font-weight: 700;
        color: #334155;
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .category-item:hover {
        background: #2563eb;
        color: white;
        border-color: #2563eb;
        transform: translateY(-2px);
    }
}